*{
    -webkit-appearance: none;
    font-family: "Avenir Next";
}

body{
    background-color: #eeeeee;
}

.soft_ui{
    background-color: #eee;
    outline: none;
    color: black;
    margin: 10px;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
}

.upload_button{
    background-color: #eee;
    outline: none;
    color: black;
    margin: 10px;
    padding: 5px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
}

.text_001{
    outline: none;
    color: black;
    margin: 10px;
    padding: 5px 30px;
    height: 40px;
    width: 250px;
    border-radius: 25px;
    border: none;
    background-color: #eeeeee;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
}

.submit_button{
    color: white;
    background-color: #fe005d;
    outline: none;
    border: none;
    padding: 5px 30px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
}

.submit_button:hover{
    transition: all 0.5s ease;
     background-color: #d8004f;
}

.submit_button:active{
    box-shadow: inset 5px 5px 10px #860031;
}

input[type=checkbox] {
    -webkit-appearance:checkbox;
}

li{
    list-style: none;
}

.nolink{
    text-decoration: none;
    color: white;
}

.header{
    background-color: #26d0c9;
    color: #fff;
    height: 90px;
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 18px 40px;
}

.header-list li{
    float: left;
    padding: 33px 20px;
}

.main{
    min-height: 680px;
}

.copy-container h1{
    font-size: 100px;
}

.copy-container{
    font-size: 30px;
}

.footer{
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
    top: 100vh;
}

.footer-logo{
    float: left;
    font-size: 32px;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    /*top: 50%;*/
    top: 340px;
    left: 50%;
    /*transform: translate(-50%,-50%);*/
    transform: translate(-50%, -30%);
    /*background: #191919;*/
    background: #fff;
    ;
    text-align: center;
    box-shadow: 15px 15px  75px -10px #000000;
    border-radius: 15px;
}

.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.box h3{
    color: #d8004f;
}

.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: #e4f7ff;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1749ff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 280px;
    border-color: #13d47a;
}

.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fe005d;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 26px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    color: white;
    background: #fe005d;
}

.login_info{
    color: white;
    float: right;
    padding: 33px;
}
/*↓データベース検索のtableデザイン↓*/
.zebra{
    min-width: 50%;/*最小横の長さ指定*/
    border: 1px solid gray;/*外枠の線の設定*/
    border-collapse: separate;/*隣接するセルのボーダーを重ねるか、間隔をあけるか*/
    border-radius: 5px;/*外枠の角丸半径*/
    border-spacing: 0;/*隣接するセルのボーダーとボーダーの間隔*/
    margin: 20px;
}
.zebra th, td{
    border-bottom: 1px solid gray;
    padding: 10px 20px;
}
.zebra th{
    border-right: 1px solid gray;
    background: skyblue;
}
.zebra td{
    border-right: 1px solid gray;
}
.zebra th:first-child{/*一番最初のth要素なので、左上*/
    /*左上の角丸*/
    border-radius: 4px 0 0 0;
}
.zebra th:last-child{/*一番最後のth要素なので、右上*/
    /*thセルの右のボーダーとtable全体のボーダーが被るので、ここだけ消す*/
    border-right: none;
    border-radius: 0 4px 0 0;
}
.zebra tr:last-child td:last-child{/*一番最後のtr要素の中の一番最後のtd要素なので、右下*/
    border-radius: 0 0 4px 0;
}
.zebra tr:last-child td:first-child{/*一番最後のtr要素の中の一番最初のtd要素なので、左下*/
    border-radius: 0 0 0 4px;
}
.zebra tr:last-child td{/*一番最後のtr要素の中のtd要素全部なので、最下部の行全体*/
    /*tr要素、つまり行の下に設定したボーダーと、table全体のボーダーが被るので、ここだけ消す*/
    border-bottom: none;
}
.zebra td:last-child{/*一番最後のtd要素なので、tr要素の中の最後のtd要素になるので、th以外の右側のセル*/
    /*tdセルの右のボーダーとtable全体のボーダーが被るので、ここだけ消す*/
    border-right: none;
}
.zebra tr:nth-child(odd){
    background-color: #ececec;
}
.zebra tr:nth-child(even){
    background-color: #e4e2e2;
}
/*↑データベース検索のtableデザイン↑*/

/*↓教材検索のtableデザイン↓*/
.file_info{
    min-width: 700px;
    margin: 10px 10px;
    border: 1px solid #acacac;
    border-collapse: separate;
    border-radius: 5px;
    border-spacing: 0;
}
.file_info th, td{
    border-bottom: 1px solid #acacac;
    padding: 10px 20px;
}
.file_info th{
    border-right: 1px solid #acacac;
    background: #e0e0e0;
}
.file_info td{
    background-color: whitesmoke;
}
.file_info tr:first-child th{
    border-radius: 5px 0 0 0;
}
.file_info tr:first-child td{
    border-radius: 0 5px 0 0;
}
.file_info tr:last-child th{
    border-bottom: none;
    border-radius: 0 0 0 5px;
}
.file_info tr:last-child td{
    border-bottom: none;
    border-radius: 0 0 5px 0;
}
/*↑教材検索のtableデザイン↑*/

.add_space{
    background-color: #596479;
    margin: 5px;
    padding: 10px;
    min-height: 600px;
    border-radius: 15px;
}

.add_space h1, p{
    color: #fff;
    text-align: center;
    margin: 100px 0px 30px 0px;
}

.add_square h3{
    color: white;
}

.add_square{
    background-color: #7a7c85;
    box-shadow: inset 100px 5px 75px #707791;
    border-spacing: 50px;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.add_square_dashed{
    width: 300px;
    margin: auto;
    border: 1px dashed;
    border-color: white;
    border-radius: 30px;
}

.add_button{
    width: 64px;
    height: 64px;
    padding: 10px;
}

.add_square input[type = "text"]{
    text-align: center;
    color: white;
    width: 250px;
    background: none;
    outline: none;
    border: none;
}

.submit_center{
    margin: auto;
    text-align: center;
}

.form_001 input[type = "submit"]{
    background-color: #596479;
    outline: none;
    color: white;
    margin: 15px auto;
    padding: 10px 120px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 10px #252a33, -5px -5px 10px #93a5c7;
}

.form_001 input[type = "submit"]:hover{
    background-color: #67748b;
    transition: all 0.3s ease;
}

.form_001 input[type = "submit"]:active{
    box-shadow: inset 5px 5px 10px #4b5566;
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.search_engine{
    margin: 10px auto 10px auto;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 5px;
    width: 1000px;
}

.select_button{
    background-color: #eee;
    outline: none;
    color: black;
    margin: 10px;
    padding: 5px 15px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
}

.select_text{
    background-color: #eee;
    outline: none;
    color: black;
    margin: 10px;
    padding: 0px 15px;
    height: 40px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
}

