{% extends "menu.html" %}
{% block content %}
<div class="main">
    <form class="box" action="#" method="GET" id="login_002">
        <h1>Register</h1>
        <input type="text" name="mail_str" placeholder="MailAddress">
        <input type="text" name="user_str" placeholder="UserName">
        <input type="password" name="password_str" placeholder="Password">
        <input type="password" name="password_str" placeholder="Password">
        <input type="submit" name="submitbutton" value="Register" onclick="f_002();">
    </form>
</div>
{% endblock %}