{% extends "menu.html" %}
{% block content %}
<div class="main">
    ここには先に入力された情報を提示し、再入力or登録続行を問う。
    <form class="box" action="/register_check" method="POST" id="register_001">
        <h1>Register</h1>
        <h3>{{Already}}</h3><!--そのユーザーは既に存在しています-->
        <input type="text" name="mail_str" value="{{MailAddress}}" placeholder="MailAddress">
        <input type="text" name="user_str" value="{{UserName}}" placeholder="UserName">
        <input type="password" name="password_str" value="{{PassWord}}" placeholder="Password">
        <input type="submit" name="submitbutton" value="Register">
    </form>
</div>
{% endblock %}