{% extends "menu.html" %}
{% block content %}
<div class="main">
    <form class="box" action="/register" method="GET" id="register_001">
        <h1>Register</h1>
        <input type="text" name="mail_str" value="{{MailAddress}}" placeholder="MailAddress">
        <input type="text" name="user_str" value="{{UserName}}" placeholder="UserName">
        <input type="password" name="password_str" value="{{PassWord}}" placeholder="Password">
        <input type="submit" name="submitbutton" value="Register">
    </form>
</div>
{% endblock %}