{% extends "menu.html" %}
{% block content %}
<div class="main">

    <div class="add_space">
        <h1>Add and share your works!!</h1>
        <p class="how_to_add">
            追加できるファイルはpdf, docx, pptxだけです。
        </p>
        <form class="form_001" method="POST" id="form_001" enctype="multipart/form-data"><!--enctype="multipart/form-data"てなに？？？-->
            <div class="add_square_dashed">
                <label for="upload_button">
                    <div class="add_square">
                        <img src="../static/svg/add_button.svg" class="add_button" onselectstart="return false;" onmousedown="return false;">
                        <h3>ファイルを選択してください</h3>
                        <input type="file" id="upload_button" name="file" style="display: none;" onchange="$('#fake_input_file').val($(this).prop('files')[0].name);">
                        <input readonly type="text" class="selected_file_name" id="fake_input_file" value="" onClick="$('#file').click();">
                    </div>
                </label>
            </div>
            <div class="submit_center">
                <input type="submit" name="share_button" id="share_button" value="Upload!">
            </div>
        </form>
    </div>
</div>

{% endblock %}