{% extends "menu.html" %}
{% block content %}
<div class="main">

    <div class="add_space">
        <h1>Add and share your works!!</h1>
        <p class="how_to_add">
            追加できるファイルはpdf, docx, pptxだけです。
        </p>
        <!--enctype="multipart/form-data"てなに？？？-->
        <form class="form_001" method="POST" id="form_001" enctype="multipart/form-data">
            <div class="div_center">
                <select name="select_school_type" class="upload_select">
                    <option value=""hidden>校種を選択</option>
                    {% for i in school_type_list %}
                        <option value="{{i['id']}}">{{i['value']}}</option>
                    {% endfor %}
                </select>
                <select name="select_subjects" class="upload_select">
                    <option value=""hidden>教科領域等を選択</option>
                    {% for i in subjects_list %}
                        <option value="{{i['id']}}">{{i['value']}}</option>
                    {% endfor %}
                </select>
                <select name="select_grade" class="upload_select">
                    <option value=""hidden>学年を選択</option>
                    {% for i in grade_list %}
                        <option value="{{i['id']}}">{{i['value']}}</option>
                    {% endfor %}
                </select>
    
                <input type="text" name="subject_title" class="upload_text" placeholder="単元題材名" autocomplete="off">
                <input type="text" name="done_year" class="upload_text" placeholder="実施年度" autocomplete="off">
            </div>
            <div class="add_square_dashed">
                <label for="upload_button">
                    <div class="add_square">
                        <img src="../static/svg/add_button.svg" class="add_button" onselectstart="return false;" onmousedown="return false;">
                        <h3>{{upload_status}}</h3>
                        <input type="file" id="upload_button" name="file" style="display: none;" onchange="$('#fake_input_file').val($(this).prop('files')[0].name);">
                        <input readonly type="text" class="selected_file_name" id="fake_input_file" value="" onClick="$('#file').click();">
                    </div>
                </label>
            </div>
            <div class="submit_center">
                <input type="submit" name="share_button" id="share_button" value="Upload!">
            </div>
        </form>
    </div>
</div>

{% endblock %}