{% extends "menu.html" %}
{% block content %}
<div class="main">
    <form class="form_001" method="POST" id="form_001">
        <input type="file" class="soft_ui">
    </form>

    <div class="add_space">
        <h1>Add and share your works!!</h1>
        <p class="how_to_add">
            追加できるファイルはpdf, docx, pptxだけです。
        </p>
        
        <div class="add_square_dashed">
            <div class="add_square">
                <img src="../static/svg/add_button.svg" class="add_button" onselectstart="return false;" onmousedown="return false;">
                <h3>ファイルを追加</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}